<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport" />

  <title>CSS Modules with Elm</title>

  <link rel="stylesheet" href="application.css" />

</head>
<body>

  <div id="application"></div>

  <script src="application.js"></script>
  <script>Elm.Main.fullscreen({{{cssmodules}}})</script>

</body>
</html>
