@value colors: "../lib/variables.css";
@value textColor from colors;


html {
  font-size: 16px;
}


body {
  font: 1rem/1.7 "Georgia", serif;
}


.component {
  color: textColor;
  font-size: 1rem;
}
